@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Cine Epic</h1>
    <h4>¡Disfrutá de las mejores peliculas!</h4>
    <!-- <img src="../wwwroot/images/cine.jpg" class="" alt="..."> -->

    <div class="decoracion">
        <h1>______________________________________________________</h1>
    </div>

    <div class="secciones">
        <div class="seccion">
            <h5>Confort y atención personalizada. Todo lo que necesitas para ser feliz en esta vida.</h5>
        </div>
        <div class="seccion">
            <h5>Toda la comida que puedas desear. Pansa llena, corazón contento, no?.</h5>
        </div>
        <div class="seccion">
            <h5>Días de cumpleaños... GRATIS!!! Veni a llenar el cine y hagamos una verdadera fiesta en este día tan especial</h5>
        </div>

    </div>

</div>
